{% include base_path %}
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav" aria-label="Main">
        <button type="button" aria-label="Toggle navigation menu" aria-expanded="false" aria-controls="site-nav-hidden-links"><span class="navicon"></span></button>
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            {% assign link_selected = false %}
            {% if link.url == '/' %}{% if page.url == '/' %}{% assign link_selected = true %}{% endif %}{% elsif page.url contains link.url %}{% assign link_selected = true %}{% endif %}
            <li class="masthead__menu-item {% if link_selected %}selected{% endif %}">
              <a href="{{ domain }}{{ link.url }}"{% if link_selected %} aria-current="page"{% endif %}>{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden" id="site-nav-hidden-links"></ul>
      </nav>
    </div>
  </div>
</div>
